.character-sheet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tabs_side-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .tabs_side-menu a{
  margin-right: 5px;
} */
.side-menu {
  display: flex;
  flex-direction: column;
  border-right: 2px double black;
}

.central-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  /* Размер текста */
}

.stat label {
  font-weight: bold;
  margin-right: 5px;
}

.stat input {
  width: 40px;
  /* Ширина для полей ввода */
  text-align: center;
  /* Текст по центру */
  border: 1px solid #ccc;
  /* Обводка */
  border-radius: 4px;
  /* Скругленные углы */
}

#char-img {
  height: 317px;
  width: 165px;
}

.stats-and-weapons {
  border-left: 2px double black;
}

.tab-bar {
  display: none;
}

.tab-content .active {
  display: contents;
}

.drop-area {
  width: 100%;
  /* Занимает всю ширину контейнера */
  height: 150px;
  /* Увеличенная высота */
  border: 2px dashed #666;
  /* Дашированная граница */
  padding: 20px;
  /* Внутренние отступы */
  margin: 10px 0;
  /* Внешние отступы сверху и снизу */
  text-align: center;
  /* Текст в центре */
  color: #999;
  /* Цвет текста */
  background-color: #f9f9f9;
  /* Светлый фон */
  border-radius: 8px;
  /* Скругленные углы */
  transition: background-color 0.3s;
  /* Плавное изменение цвета */
}

.roll-characteristic {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.roll-characteristic:hover {
  color: #ffcc00;
  /* Золотой цвет для выделения */
  transform: scale(1.2);
  /* Увеличение при наведении */
}

.stat-value {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Добавляем отступ между характеристиками */
}

.circle-progress {
  width: 35px;
  /* Ширина круга */
  height: 35px;
  /* Высота круга */
  margin-right: 5px;
  /* Отступ между кругом и текстом */
  display: block;
  /* Убираем лишние отступы */
}

.skill-level {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.circle-progress-skill {
  width: 75px;
  height: 75px;
  margin-right: 15px;
  display: block;
}

.modifiers-wrapper {
  position: relative;
  display: inline-block;
}

.modifiers-tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* или как вам удобнее */
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  z-index: 9999;
  width: max-content;
  max-width: 200px;
}

.modifiers-wrapper:hover .modifiers-tooltip {
  display: block;
}