.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 35px); /* 5 элементов в строке */
    gap: 10px;
    padding: 10px;
    position: relative;
    overflow: visible;
  }
  

  .skill-card,
  .spell-card {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    overflow: visible;
  }
  
  .skill-card.empty,
  .spell-card.empty {
    background-color: rgba(0, 0, 0, 0.1); /* Легкий фон для пустых слотов */
    border: 1px dashed gray; /* Указываем рамку для пустых слотов */
    pointer-events: none;
  }
  
.skill-icon,
.spell-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  .skill-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    text-align: left;
    line-height: 0.8;
    font-size: 12px;
    display: none;
    z-index: 9999;
    max-width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }
  
  .skill-tooltip:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
  }
  .delete-skill {
    position: absolute;
    top: -8px; /* Над обводкой */
    right: -8px; /* Справа от обводки */
    width: 18px;
    height: 18px;
    border: 1px solid white; /* Маленькая белая обводка */
    background: rgba(255, 0, 0, 0.8); /* Красный цвет */
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 10; /* Под подсказкой */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .delete-skill:hover {
    background: rgba(200, 0, 0, 1); /* Немного ярче при наведении */
    border-color: yellow; /* Меняем обводку на желтую */
  }
  

  .spell-card {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    overflow: visible;
  }
  
  .spell-tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    text-align: left;
    line-height: 0.8;
    font-size: 12px;
    display: none;
    z-index: 9999;
    max-width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }
  
  .spell-tooltip:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
  }
  
  .delete-spell {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .delete-spell:hover {
    background: rgba(200, 0, 0, 1);
    border-color: yellow;
  }
  