<div class="sheet-header">
  <div class="header-info">
    <div class="form-group">
      <label for="rank">Ранг</label>
      <input name="data.Rank" type="text" value="{{data.Rank}}" data-dtype="Number" />
    </div>
    <div class="form-group">
      <label for="class">Класс</label>
      <div id="class">
        <section class="MainWeapon">
          {{#each Classes as |class|}}
          {{> "systems/Order/templates/partials/class-card.hbs" class}}
          {{/each}}
        </section>
      </div>
    </div>
  </div>
</div>

<div class="sheet-body">
  <div class="form-group">
    <label for="bio">О себе</label>
    <textarea name="data.biography">{{data.biography}}</textarea>
  </div>
</div>