<section class="equipment">
    <section class="MainWeapon">
        <h2>Основное Оружие</h2>
        {{#each weapons as |weapon id|}}
        {{#if (eq data.weaponType 'main')}}
                {{> "systems/Order/templates/partials/weapon-card.hbs" weapon}}
        {{/if}}
        {{/each}}
    </section>
    <div class="SecondaryWeapon">
        <h2>Вторичное Оружие</h2>
        {{#each weapons as |weapon id|}}
        {{#if (eq data.weaponType 'secondary')}}
                {{> "systems/Order/templates/partials/weapon-card.hbs" weapon}}
        {{/if}}
        {{/each}}
    </div>
    <div class="ColdArmsWeapon">
        <h2>Холодное оружие</h2>
        {{#each weapons as |weapon id|}}
        {{#if (eq data.weaponType 'melee')}}
                {{> "systems/Order/templates/partials/weapon-card.hbs" weapon}}
        {{/if}}
        {{/each}}
    </div>
</section>
1