{{> weapon name=name Damage=Damage Durability=Durability}}
<div class="meleeweapon-stats">
  <p><strong>Type of damage:</strong> {{Type of damage}}</p>
  <p><strong>Range of damage:</strong> {{Range of damage}}</p>
  <p><strong>Modification slots:</strong> {{Modification slots}}</p>
</div>