<div class="regularItem-card item" data-item-id="{{_id}}">
  <div class="regularItem-info regularItem-name">
    <p>
      <a class="item-edit" data-type="item">{{name}}</a>
    </p>
    <div class="regularItem-stats">
    <p><strong>Описание:</strong> {{data.Description}}</p>
    </div>
    <a class="item-delete">
      <i class="fas fa-trash">
      </i>
    </a>
  </div>
</div>