<h1>Способности</h1>
<div class="skills-grid">
  {{#each Skills as |Skill id|}}
    {{> "systems/Order/templates/partials/skill-card.hbs" Skill}}
  {{/each}}

  {{#let "m" (mod Skills.length 3)}}
    {{#if (gt m 0)}}
      {{#each (range 0 (sub 3 m)) as |i|}}
        <div class="skill-card empty"></div>
      {{/each}}
    {{/if}}
  {{/let}}
</div>

<h2>Заклинания</h2>
<div class="skills-grid">
  {{#each Spells as |Spell id|}}
    {{> "systems/Order/templates/partials/spell-card.hbs" Spell}}
  {{/each}}

  {{#let "m" (mod Spells.length 3)}}
    {{#if (gt m 0)}}
      {{#each (range 0 (sub 3 m)) as |i|}}
        <div class="spell-card empty"></div>
      {{/each}}
    {{/if}}
  {{/let}}
</div>

<h2>Перки</h2>
<div class="skills-grid">
  {{#each Perks as |Perk id|}}
    {{> "systems/Order/templates/partials/skill-card.hbs" Perk}}
  {{/each}}

  {{#let "m" (mod Perks.length 3)}}
    {{#if (gt m 0)}}
      {{#each (range 0 (sub 3 m)) as |i|}}
        <div class="skill-card empty"></div>
      {{/each}}
    {{/if}}
  {{/let}}
</div>
