<div class="skill-card item" data-item-id="{{_id}}">
  <div class="skill-info skill-name">
    <p>
      <a class="item-edit" data-type="item">{{name}}</a>
    </p>
    {{!-- <div class="skill-stats">
    <p><strong>Damage:</strong> {{data.Damage}}</p>
    <p><strong>Durability:</strong> {{data.Durability}}</p>
    </div> --}}
    <a class="item-delete">
      <i class="fas fa-trash">
      </i>
    </a>
  </div>
</div>