<div class="skill-card item" data-item-id="{{_id}}">
  <div class="skill-info skill-name">
    <p>
      <a class="item-edit" data-type="item">{{name}}</a>
    </p>
    <a class="item-delete-class">
      <i class="fas fa-trash">
      </i>
    </a>
  </div>
</div>