<form class="{{cssClass}}" autocomplete="off">
  <div class="character-sheet">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
    <div class="stats-and-weapons">
      {{> "systems/Order/templates/partials/character-stat-block.hbs"}}
    </div>
  </div>
</form>
