<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <img
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
        height="64"
        width="64"
      />
      <h1>
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{ localize 'Name' }}"
        />
      </h1>
    </header>
    <div>
      <table>
        <tr>
          <th>{{localize "Order.rangeweapon.Damage"}}</th>
          <th>{{localize "Order.rangeweapon.Rateoffire"}}</th>
          <th>{{localize "Order.rangeweapon.Magazine"}}</th>
          <th>{{localize "Order.rangeweapon.Effectivefiringrange"}}</th>
          <th>{{localize "Order.rangeweapon.Maximumfiringrange"}}</th>
          <th>{{localize "Order.rangeweapon.Modificationslots"}}</th>
          <th>{{localize "Order.rangeweapon.Durability"}}</th>
        </tr>
        <td>
          <input
            name="data.Damage"
            type="text"
            value="{{data.Damage}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Rateoffire"
            type="text"
            value="{{data.Rateoffire}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Magazine"
            type="text"
            value="{{data.Magazine}}"
            data-type="Number"
          />
        </td>
        <td>
          <input
            name="data.Effectivefiringrange"
            type="text"
            value="{{data.Effectivefiringrange}}"
            data-type="Number"
          />
        </td>
        <td>
            <input
              name="data.Maximumfiringrange"
              type="text"
              value="{{data.Maximumfiringrange}}"
              data-type="Number"
            />
        </td>
        <td>
            <input
               name="data.Modificationslots"
               type="text"
               value="{{data.Modificationslots}}"
               data-type="Number"
            />
        </td>
        <td> 
          <input
            name="data.Durability"
            type="text"
            value="{{data.Durability}}"
            data-type="Number"
          />
        </td>
      </table>
    </div>
  </form>
  